<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-block">
        <h3>Контакты</h3>
        <p><a href="tel:+7 (921) 195-96-00">+7 (921) 195-96-00</a></p>
        <p><a href="mailto:username@email.com">username@email.com</a></p>
      </div>
      <div class="footer-block footer-address">
        <h3>Адрес ресторана</h3>
        <p>Новгородская область, Боровичский район, г. Боровичи, ул. проезд Гагарина, д.4</p>
      </div>
      <div class="footer-block">
        <h3>Время работы</h3>
        <p>ВС-ЧТ 10:00-22:00</p>
        <p>ПТ-СБ 10:00-00:00</p>
      </div>
      <div class="footer-block">
        <h3>Соц.сети</h3>
        <ul class="footer-social">
          <li><a href="#"><img src="img/svg/instagram.svg"></a></li>
          <li><a href="#"><img src="img/svg/vk.svg"></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">Copyright©2023 EatWellHouse. All rights reserved.</div>
  </div>
</footer>