<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="header-col"></div>
      <div class="header-col"><a href="/" class="header-logo"><img src="img/svg/logo-new.svg" alt=""></a></div>
      <div class="header-col">
        <div class="header-contact">
          <p><a href="tel:+7 (921) 195-96-00">+7 (921) 195-96-00</a></p>
          <p>ул. проезд Гагарина д.4</p>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="header-burger">Меню сайта</div>
      <ul class="header-nav">
        <li><a href="#">О нас</a></li>
        <li><a href="#">Меню</a></li>
        <li><a href="#">Доставка</a></li>
        <li><a href="#">Заказ столика</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </div>
  </div>
</header>