<div class="header-cart__item" title="Бизнес-ланч">
  <img class="header-cart__item-image" src="img/delivery-item.jpg" alt="">
  <div class="header-cart__item-title">Бизнес-ланч<small>Название блюда, название блюда, название блюда, название блюда, название блюда, название блюда</small></div>
  <div class="header-cart__item-count counter">
    <span class="minus"></span>
    <input type="number" value="1" />
    <span class="plus"></span>
  </div>
  <div class="header-cart__item-price">350 ₽</div>
  <div class="header-cart__item-delete delete"></div>
</div>