<div class="header-cart__item" title="Ассорти из сала с тостами из ржаного хлеба с соусом Гуакамоле">
  <img class="header-cart__item-image" src="img/delivery-item.jpg" alt="">
  <div class="header-cart__item-title">Ассорти из сала с тостами из ржаного хлеба с соусом Гуакамоле</div>
  <div class="header-cart__item-count counter">
    <span class="minus"></span>
    <input type="number" value="1" />
    <span class="plus"></span>
  </div>
  <div class="header-cart__item-price">350 ₽</div>
  <div class="header-cart__item-delete delete"></div>
</div>