<div class="cart-item cart-item__lunch" title="Бизнес-ланч">
  <img class="cart-item__image" src="img/delivery-item.jpg" alt="">
  <div class="cart-item__content">
    <div class="cart-item__title">Бизнес-ланч</div>
    <div class="cart-item__count counter">
      <span class="minus"></span>
      <input type="number" value="1" />
      <span class="plus"></span>
    </div>
    <div class="cart-item__price">350 ₽</div>
    <div class="cart-item__delete delete"></div>
    <ul class="cart-item__list">
      <li>Название блюда</li>
      <li>Название блюда</li>
      <li>Название блюда</li>
      <li>Название блюда</li>
      <li>Название блюда</li>
      <li>Название блюда</li>
    </ul>
  </div>
</div>