<div class="delivery-item">
  <div class="delivery-item__content">
    <img src="img/delivery-item.jpg" alt="" class="delivery-item__img" loading="lazy">
    <div class="delivery-item__title">Сорбеты домашние от EatWell</div>
    <div class="delivery-item__description">МиниРолл с тунцом запечённый, МиниРолл с тунцом запечённый</div>
    <div class="delivery-item__info">
      <div class="delivery-item__spec">(150/90/30 г)</div>
      <select class="delivery-item__select">
        <option selected disabled>выберите</option>
        <option>variable 1</option>
        <option>variable 2</option>
        <option>variable 3</option>
      </select>
    </div>
  </div>
  <div class="delivery-item__bottom">
    <div class="delivery-item__price">1290₽</div>
    <div class="delivery-item__buy"></div>
  </div>
</div>