<section class="delivery-map">
  <div class="container">
    <h2 class="delivery-map__title">Доставка</h2>
    <div class="delivery-map__block">
      <div class="delivery-map__content">
        <h3>Время приема заказов</h3>
        <p>воскресенье – четверг: с 12:00 до 22:00<br> пятница – суббота: с 12:00 до 23:00</p>
        <h3>Условия доставки</h3>
        <p>Желтая зона: доставка от 1000 руб., стоимость 120 руб.</p>
        <p>Зеленая зона: доставка от 1500 руб., стоимость 150 руб.</p>
        <p>Синяя зона: доставка от 2000 руб., стоимость 170 руб.</p>
        <p>Фиолетовая зона: доставка от 2500 руб., стоимость 250 руб.</p>
        <div class="btn-wrap"><a href="javascript:;" data-fancybox data-src="#popup-address" class="link link-black">Доставка и оплата</a></div>
      </div>
      <div class="delivery-map__iframe"><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac09fb63a5eaae30d02acef3f51977ac3138cf0db246edec05c8fe4cc4d055fc4&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script></div>
    </div>
  </div>
</section>