<div class="menu-section" id="menu-1">
  <div class="menu-content">
    <h3 class="menu-title">Холодные закуски</h3>
    <ul class="menu-list">
      <li>
        <p class="menu-list__name">Сырная коллекция</p>
        <p class="menu-list__price">770 ₽</p>
        <p class="menu-list__description">мёд, виноград, орехи, сыры: моцарелла, маасдам, пармезан, камамбер (230 г)</p>
      </li>
      <li>
        <p class="menu-list__name">Сырная коллекция</p>
        <p class="menu-list__price">770 ₽</p>
        <p class="menu-list__description">мёд, виноград, орехи, сыры: моцарелла, маасдам, пармезан, камамбер (230 г)</p>
      </li>
      <li>
        <p class="menu-list__name">Сырная коллекция</p>
        <p class="menu-list__price">770 ₽</p>
        <p class="menu-list__description">мёд, виноград, орехи, сыры: моцарелла, маасдам, пармезан, камамбер (230 г)</p>
      </li>
      <li>
        <p class="menu-list__name">Сырная коллекция</p>
        <p class="menu-list__price">770 ₽</p>
        <p class="menu-list__description">мёд, виноград, орехи, сыры: моцарелла, маасдам, пармезан, камамбер (230 г)</p>
      </li>
      <li>
        <p class="menu-list__name">Сырная коллекция</p>
        <p class="menu-list__price">770 ₽</p>
        <p class="menu-list__description">мёд, виноград, орехи, сыры: моцарелла, маасдам, пармезан, камамбер (230 г)</p>
      </li>
      <li>
        <p class="menu-list__name">Сырная коллекция</p>
        <p class="menu-list__price">770 ₽</p>
        <p class="menu-list__description">мёд, виноград, орехи, сыры: моцарелла, маасдам, пармезан, камамбер (230 г)</p>
      </li>
    </ul>
  </div>
</div>