.delivery
  &-nav
    margin: 70px 0
    @include flexbox
    align-items: flex-start
    border-top: 1px solid #000
    border-left: 1px solid #000
    li
      width: calc(100% / 8)
      border-bottom: 1px solid #000
      border-right: 1px solid #000
      a
        @include flexbox
        align-items: center
        text-align: center
        height: 100px
        padding-left: 75px
        padding-right: 15px
        font-weight: 500
        font-size: 22px
        line-height: 1.4
        position: relative
        transition: .25s
        img
          position: absolute
          top: 0
          left: 0
          height: 80px
        p
          width: 100%
        &::after
          content: ''
          position: absolute
          bottom: 0
          left: 0
          right: 0
          height: 0
          background: var(--color-red)
          transition: .25s
        &:hover
          color: var(--color-red)
          &::after
            height: 5px
  &-section
    margin-top: 50px
    padding-top: 50px
    &__title
      font-weight: 500
      font-size: 52px
      margin-bottom: 40px
    &__grid
      display: grid
      grid-template-columns: repeat(4, 1fr)
      gap: 40px 20px
  &-item
    @include flexbox
    flex-direction: column
    justify-content: space-between
    &__img
      width: 100%
      height: 330px
      object-fit: cover
      object-position: center
    &__content
      margin-bottom: 24px
      @include flexbox
      flex-direction: column
      gap: 8px
    &__title
      font-size: 22px
      font-weight: 500
      line-height: 1.4
      width: 100%
    &__description
      font-size: 17px
      font-weight: 500
      line-height: 1.4
      width: 100%
      color: var(--color-dark)
    &__spec
      font-size: 15px
      line-height: 1.4
      color: var(--color-dark)
    &__bottom
      @include flexbox
      align-items: center
      justify-content: space-between
      width: 100%
    &__price
      font-size: 22px
      font-weight: 500
    &__lunch
      width: 50%
      max-width: 200px
      display: block
      input
        @include visually-hidden
        &:checked + .delivery-item__buy
          background-color: var(--color-red)
          background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.47656 12.7188L7.47656 6.9569C7.47656 3.9067 9.94924 1.43403 12.9994 1.43403V1.43403C16.0496 1.43403 18.5223 3.90671 18.5223 6.95691L18.5223 12.7188' stroke='white' stroke-linecap='round'/%3E%3Cpath d='M1.65519 12.1621C1.79744 10.4181 1.86857 9.54615 2.44293 9.01673C3.0173 8.4873 3.89218 8.4873 5.64195 8.4873H20.3594C22.1092 8.4873 22.9841 8.4873 23.5584 9.01673C24.1328 9.54615 24.2039 10.4181 24.3462 12.1621L25.2508 23.2518C25.3333 24.2639 25.3746 24.7699 25.0776 25.0921C24.7805 25.4144 24.2728 25.4144 23.2574 25.4144H2.74399C1.72857 25.4144 1.22085 25.4144 0.92382 25.0921C0.626789 24.7699 0.668066 24.2639 0.750619 23.2518L1.65519 12.1621Z' stroke='white'/%3E%3C/svg%3E")
          box-shadow: none !important
          border-color: var(--color-red)
    &__buy
      width: 100%
      height: 45px
      border: 1px solid var(--color-black)
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.47656 12.7188L7.47656 6.9569C7.47656 3.9067 9.94924 1.43403 12.9994 1.43403V1.43403C16.0496 1.43403 18.5223 3.90671 18.5223 6.95691L18.5223 12.7188' stroke='black' stroke-linecap='round'/%3E%3Cpath d='M1.65519 12.1621C1.79744 10.4181 1.86857 9.54615 2.44293 9.01673C3.0173 8.4873 3.89218 8.4873 5.64195 8.4873H20.3594C22.1092 8.4873 22.9841 8.4873 23.5584 9.01673C24.1328 9.54615 24.2039 10.4181 24.3462 12.1621L25.2508 23.2518C25.3333 24.2639 25.3746 24.7699 25.0776 25.0921C24.7805 25.4144 24.2728 25.4144 23.2574 25.4144H2.74399C1.72857 25.4144 1.22085 25.4144 0.92382 25.0921C0.626789 24.7699 0.668066 24.2639 0.750619 23.2518L1.65519 12.1621Z' stroke='black'/%3E%3C/svg%3E")
      background-repeat: no-repeat
      background-position: center
      cursor: pointer
      transition: .25s
      display: block
      &:hover
        box-shadow: 3px 3px 0px 0px var(--color-red)
    &__info
      @include flexbox
      align-items: center
      justify-content: space-between
      width: 100%
      height: 30px
    &__select
      max-width: 200px
      width: 50%
      height: 30px
      border-radius: 999px
      border: 1px solid var(--color-dark)
      font-size: 15px
      font-weight: 300
      text-align: center
      display: block
      appearance: none
      -webkit-appearance: none
      text-align-last: center
      background: #fff url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 6L9.76314 0H0.23686L5 6Z' fill='%235C5C5C'/%3E%3C/svg%3E%0A") no-repeat right 8px center
      color: var(--color-black)
  &-banner
    color: #fff
    background: var(--color-red)
    @include flexbox
    align-items: center
    justify-content: center
    flex-direction: column
    gap: 12px
    font-size: 30px
    font-weight: 500
    line-height: 1.5
    p
      max-width: 270px
      width: 100%
    hr
      width: 100%
      height: 3px
      border: 0
      background: #fff
      max-width: 270px
      margin: 12px 0
  &-lunch
    padding: 60px 140px 70px
    margin-top: 100px
    background: url(../img/lunch.jpg) no-repeat center / cover
    h3
      max-width: 390px
      font-size: 52px
      font-weight: 500
      line-height: 1.4
      span
        color: var(--color-red)
    a
      @include flexbox
      align-items: center
      justify-content: center
      max-width: 346px
      width: 100%
      height: 50px
      color: #fff
      background: var(--color-red)
      border: 1px solid #fff
      text-transform: uppercase
      font-size: 22px
      margin-top: 24px
    &__list
      @include flexbox
      align-items: flex-start
      gap: 40px
      font-size: 30px
      line-height: 1.5
      font-weight: 500
      margin-top: 40px
      span
        color: var(--color-red)
  &-map
    margin-top: 100px
    position: relative
    &::before
      content: ''
      position: absolute
      bottom: 0
      left: 0
      right: 0
      height: 100px
      background: var(--color-black)
      z-index: -1
    &__title
      text-align: center
      font-size: 52px
      font-weight: 500
      line-height: 1.4
      border-top: 1px solid var(--color-black)
      padding: 100px 0 50px
    &__block
      @include flexbox
      background: #fff
      border: 1px solid var(--color-black)
    &__content
      padding: 50px 100px
      max-width: 540px
      width: 100%
      h3
        font-size: 22px
        font-weight: 500
        margin-top: 24px
        &:first-child
          margin-top: 0
      p
        margin-top: 8px
        // max-width: 340px
        font-weight: 500
        font-size: 17px
        line-height: 1.4
      .btn-wrap
        margin-top: 24px
    &__iframe
      background: #eee
      width: calc(100% - 540px)
      position: relative
      overflow: hidden
      & > iframe
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        width: 100% !important
        height: 100% !important
  &-buylunch
    @include flexbox
    align-items: center
    justify-content: center
    margin-top: 100px
    .btn
      width: auto
      height: auto
      padding: 18px 24px
      @include flexbox
      align-items: center
      justify-content: center
      transition: .25s
      &:hover
        box-shadow: none
