{% extends 'components/_layout.html' %}
{% set site_title = 'Бизнес-ланч' %}

{% block content %}

{% include 'components/_header-delivery.html' %}

<section class="delivery">
  <div class="container container-lg">
    <div class="lunch-back"><a href="#">Бизнес-ланчи доступны к заказу в будние дни с 12:00 до 16:00</a></div>
    <div class="delivery-lunch">
      <h3><span>Соберите свой бизнес-ланч всего за 550₽!</span></h3>
      <div class="delivery-lunch__list">
        <ul>
          <li><span>1.</span> Салат</li>
          <li><span>2.</span> Суп</li>
          <li><span>3.</span> Горячее</li>
        </ul>
        <ul>
          <li><span>4.</span> Гарнир</li>
          <li><span>5.</span> Напиток</li>
          <li><span style="opacity: 0;">5.</span> и десерт за 95₽</li>
        </ul>
      </div>
    </div>
    <div class="delivery-section">
      <h2 class="delivery-section__title">Салаты</h2>
      <div class="delivery-section__grid">
        {% include 'components/delivery-item.html' %}
        {% include 'components/delivery-item.html' %}
        {% include 'components/delivery-item.html' %}
        {% include 'components/delivery-item.html' %}
      </div>
    </div>
    <div class="delivery-section">
      <h2 class="delivery-section__title">Супы</h2>
      <div class="delivery-section__grid">
        {% include 'components/delivery-item.html' %}
        {% include 'components/delivery-item.html' %}
        {% include 'components/delivery-item.html' %}
        {% include 'components/delivery-item.html' %}
      </div>
    </div>
    <div class="delivery-section">
      <h2 class="delivery-section__title">Горячее</h2>
      <div class="delivery-section__grid">
        {% include 'components/delivery-item.html' %}
        {% include 'components/delivery-item.html' %}
        {% include 'components/delivery-item.html' %}
        {% include 'components/delivery-item.html' %}
      </div>
    </div>
    <div class="delivery-section">
      <h2 class="delivery-section__title">Гарниры</h2>
      <div class="delivery-section__grid">
        {% include 'components/delivery-item.html' %}
        {% include 'components/delivery-item.html' %}
        {% include 'components/delivery-item.html' %}
        {% include 'components/delivery-item.html' %}
      </div>
    </div>
    <div class="delivery-section">
      <h2 class="delivery-section__title">Напитки</h2>
      <div class="delivery-section__grid">
        {% include 'components/delivery-item.html' %}
        {% include 'components/delivery-item.html' %}
        {% include 'components/delivery-item.html' %}
        {% include 'components/delivery-item.html' %}
      </div>
    </div>
    <div class="delivery-section">
      <h2 class="delivery-section__title">Любой десерт за 95₽</h2>
      <div class="delivery-section__grid">
        {% include 'components/delivery-item.html' %}
        {% include 'components/delivery-item.html' %}
        {% include 'components/delivery-item.html' %}
        {% include 'components/delivery-item.html' %}
      </div>
    </div>
  </div>
</section>

{% include 'components/delivery-map.html' %}

{% endblock %}