{% extends 'components/_layout.html' %}
{% set site_title = 'Текстовая страница' %}

{% block content %}

{% include 'components/_header.html' %}

<section class="text">
  <div class="container">
    <h2 class="title">Заголовок</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo autem accusantium, inventore magnam, commodi praesentium minima eius eveniet qui doloribus ab doloremque sed dolore? Sit laborum dignissimos beatae repellat voluptatem.</p>
    <p>Labore, facere. Magni magnam repudiandae saepe tempora nulla voluptate assumenda non maxime cumque consequuntur consectetur laborum quasi, numquam explicabo veritatis soluta quaerat officia ab. Qui laudantium autem corporis nostrum totam?</p>
    <p>Officiis iusto voluptas perferendis ipsa labore. Totam, sit! Ea dolorum perferendis quo veritatis excepturi officiis debitis quasi tempore quod, reiciendis amet ad laboriosam qui officia nihil exercitationem iusto, voluptatibus rerum!</p>
    <p>Veniam ex eaque quas nesciunt, sit error illum velit dolores necessitatibus accusamus ut id quod animi fuga magni numquam quia ab facilis deleniti. Sit magnam vero quod, quaerat enim est.</p>
    <p>Facere harum iure maxime. Ex, qui asperiores obcaecati, ea sapiente debitis architecto hic veniam labore temporibus aspernatur consequatur ipsum explicabo excepturi illum sit cupiditate libero perferendis assumenda amet accusantium iusto.</p>
    <p>Cupiditate iusto corrupti tempora suscipit temporibus accusantium itaque nobis blanditiis soluta consequatur distinctio qui quidem accusamus voluptatibus quam commodi numquam molestiae delectus eaque, natus repellat facilis similique assumenda. Quam, dolore!</p>
    <p>Ipsam maiores facere deleniti dignissimos at ducimus, temporibus incidunt in et voluptates beatae quae fugit laboriosam. Necessitatibus assumenda eaque, temporibus quod, voluptatem fugit est laboriosam possimus maxime recusandae minima. Accusantium.</p>
    <p>Aperiam perspiciatis accusamus, beatae accusantium quis non recusandae! Ipsa iste eius libero corrupti officiis molestias magnam, voluptas earum sint inventore nulla dolores hic. Id ipsam unde molestiae consectetur! Veniam, libero.</p>
    <p>Dolor laudantium molestiae quas omnis odit nihil tempora modi illo aperiam error temporibus amet sunt veritatis corporis, repudiandae voluptatem ad odio natus ratione quia eius distinctio. Neque quam quibusdam eos?</p>
    <p>Libero, sequi. Maiores maxime earum ducimus. Ex sed magni dolores optio adipisci repellendus commodi nesciunt earum mollitia accusantium natus, facere maxime corrupti numquam? Quaerat impedit, rerum enim veritatis ab laborum.</p>
    <p>Eligendi molestiae aut eos vitae sunt, sapiente earum. Eligendi voluptatibus praesentium delectus architecto necessitatibus asperiores dolores voluptatum fugit expedita quisquam excepturi voluptatem id doloremque labore, laboriosam, ad quod error ipsum.</p>
    <p>Doloribus quae eius expedita fuga praesentium vitae in. Nulla ipsa fugit placeat, asperiores esse, explicabo sint quos id iste animi aperiam reprehenderit corrupti iure adipisci incidunt ducimus itaque, qui vero!</p>
    <p>Assumenda nostrum eius quasi distinctio repudiandae deserunt quo libero ducimus cumque voluptatem unde alias sapiente vitae voluptate suscipit placeat, maxime nihil porro quia eligendi perspiciatis vero officia? Eaque, nam fugiat.</p>
    <p>Ducimus quidem quibusdam, eligendi corrupti rerum dolore saepe repellendus tempore temporibus cupiditate. Earum laudantium error ipsam rem ipsa voluptate quisquam officia laborum, et dolorem explicabo doloremque corrupti eos repellendus debitis.</p>
    <p>Enim tenetur obcaecati possimus ratione quod. Magnam minus pariatur temporibus voluptatum omnis at eligendi expedita et, quidem sapiente sint iusto itaque doloremque impedit consequuntur odio sed adipisci nesciunt delectus sit?</p>
  </div>
</section>

{% endblock %}